@import "tailwindcss";

/* Light Theme */
.light {
    background-color: white;
    color: black;
  }
  
  /* Dark Theme */
  .dark {
    background-color: #212121;
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }